*~
Dockerfile
.git

*.dylib
*.so
.scannerwork
coverage
logs
.env
.env.local
.env.warn
tests
.editorconfig
.eslintrc
.eslintignore
.prettierrc
jest.config.js
sonar.config.js
.DS_Store
node_modules
yarn-error.log
.dockerignore
